body{

    background-color:#f2e9e4 ;
}
header{
    background-color: #9a8c98;

}
h1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
h2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

nav{
    text-align: center;
   ;
}
nav ul{
    margin-top: 20;
    padding-bottom: 15px;
    list-style: none;
}
nav li{
    color:rgb(53,8,80);
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}
nav li a:visited{
   color: silver;
}

article{
    font-family: 'Montserrat', sans-serif;
    background-color:#c9ada7 ;
}
h3{
    font-family: 'Montserrat', sans-serif;
    text-align: center
}
#secondlist{
    color: teal;
}